.*.swp
*.swp
*.o
*.hi
*.cmi
*.cmo
*.cmx
*.cmm
*.glob
*.vo
*.ibc
*.idr
*.class
*.bak
*.pyc
*.DS_Store
*.private
*~
*.Plo
*.lai
.DS_Store
.cabal-sandbox/
libtool
dist/
vendor/
dev/
tmp/
cabal.sandbox.config
streams
target
core
ext
test-cases
build/js/*
!build/js/.empty
